* {
    box-sizing: border-box;
  }

  #topper{
    background-color: #333;
    width: 100%;
    height:40px;
    margin-top: 40px;
}

#topper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  #topper li {
    float: left;
  }

  #topper li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  img {
    height: 150px;
    width: 100%;
    display: block;
  }

  .nav {
    float: right;
    background-color: yellow;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
  }
  
  .nav li {
    display: block;
    font-size: 20px;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: #000000;
  }


section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  #bottom{
      background-color: rgba(255, 255, 255);
      width: 400px;
      height:20px;
  }