* {
  box-sizing: border-box;
}

div {
    margin: 40px 100px 40px 100px;
}

#topper{
    background-color: #333;
    width: 400px;
    height:40px;
    margin-top: 40px;
}

#leftside{
    float:left;
    background-color: #fff;
    width: 100px;
    height:360px;
    border: 1px solid #999;
}

#rightside{
    float:left;
    background-color: #fff;
    width: 300px;
    height:360px;
    border: 1px solid #999;
}

section::after {
  content: "";
  display: table;
  clear: both;
}


#bottom{
    background-color: rgba(51,89,135,0.5);
    width: 400px;
    height:20px;
    border: 1px solid #666;
}

